@import './w3.css';
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

$primary: #435145;
$primary-light: #DEE1BA;

$primary-font-family:'ZCOOL KuaiLe', cursive;
$secondary-font-family: 'Urbanist', sans-serif;

.primary-font{
  font-family: $primary-font-family;
}

.secondary-font{
  font-family: $secondary-font-family;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  text-decoration: none;
}

.cell {
  width: clamp(10px,6vw,60px);
  padding-top: clamp(10px,5vw,60px);
  position: relative;
  font-weight: 300%;
  display: inline-block;
  border:1px solid #071d00;
  .cell-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: clamp(20px,4vw,30px);
  }
}

body{
  background: radial-gradient(84.2% 228.05% at 8.46% 20%, #D5D7BD 0%, #505724 100%);
  height: 100vh;
}

.homepage{
  padding-top: 35vh;
  .icons{
    width: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
  }
  div:nth-child(1){
    font-size: clamp(50px, 10vw, 120px);
  }
  button{
    font-size: clamp(20px, 4vw, 30px);
    margin: auto;
    width: fit-content;
    border-radius: 20px;
    background: none;
    color: inherit;
    border: none;
    outline: inherit;
    cursor: pointer;
  }
}

.hover-stroke:hover{
  -webkit-text-stroke: 1px $primary-light;
  transition: 0.4s;
}

.game-page{
  .nav-icons{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    div{
      background-color: $primary;
      padding: 10px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 10px;
      text-align: center;
      i{
        color: white;
        margin: auto;
      }
    }
  }
  .move-selector{
    margin: auto;
    width: fit-content;
    background-color: $primary-light;
  }

  .timer{
    *{
      padding: 5px;
    }
    i{
      color: $primary-light;
      -webkit-text-stroke: 2px $primary;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mine-field{
    // margin-bottom: 5%;
    background-color: $primary-light;
    width: fit-content;
    border-radius: 20px;
    padding: 5vw 5vw;
    margin: auto;
    &>div{
      width: fit-content;
    }
  }
  .options{
    .option{
      font-size: clamp(20px, 4vw, 40px);
      margin: auto;
      width: 90%;
      margin: 2%;
      border-radius: 20px;
      outline: none;
      border:0px;
      padding: 10px;
    }
    .selected{
      background-color:  rgb(66, 40, 0);
      color: white;
    }
    .option:hover{
      background-color: rgba(66, 40, 0, 0.582);
    }
  }
}

.stepped{
  background-color: $primary-light;
  border:none;
}

.unstepped{
  background-color: $primary;
}

.bomb-img{
  background-image: url('./img/bomb-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.flag-img{
  background-image: url('./img/flag-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popup{
  background: #ffffffe5;
  width: 80%;
  position: absolute;
  height: clamp(150px, 30vw, 300px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #0000008a;
  font-size: clamp(50px, 10vw, 120px);
  text-align: center;
  .popup-buttons{
    font-size: clamp(30px, 4vw, 50px);
  }
}

.game-over-won{
  color: green;
}

.game-over-lost{
  color: red;
}

.select-diff{
  div:nth-of-type(1){
    i{
      position: absolute;
      left: 30%;
      top: 50px;
    }
    display: flex;
    margin: auto;
    justify-content: center;
  }
  text-align: center;
  div:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
  }
}

.navbar{
  position: fixed;
  z-index: 2;
  .expanded{
    background-color: $primary-light;
    width: 100vw;
    height: 100vh;
    &>div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;
    }
  }
}